# Build / IDE
target/
.idea/
*.iml

# Reports & Screenshots
allure-results/
allure-report/
reports/
screenshots/

# Env / Credentials
.env
settings.xml
*.pem
*.key
*.jks

# Sistema operativo
.DS_Store
Thumbs.db
