# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Allure
# =========================
.allure/
allure-results/
allure-report/
target/allure-results/
target/allure-report/

# =========================
# Logs / Temp
# =========================
*.log
*.tmp

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
