services:
  allure-reports:
    build:
      context: .
      dockerfile: Dockerfile-allure-reports     # Usa tu Dockerfile de Allure
    image: allure-reports                       # Nombre de la imagen
    container_name: allure-reports              # Nombre del contenedor
    ports:
      - "4040:4040"                             # Puerto para la interfaz web
    volumes:
      - "C:\\jenkins\\data\\allure-share\\ecommerce-web-automation:/app/allure-results"
    networks:
      - selenium-grid                           # Conecta al Grid
    restart: unless-stopped                     # Reinicia si falla
    command: >
      sh -c "allure serve /app/allure-results --host 0.0.0.0 --port 4040"

networks:
  selenium-grid:
    external: true                              # Usa la red del compose principal
