version: '3.8'

services:
  allure-reports:
    container_name: allure-reports
    build:
      context: .
      dockerfile: Dockerfile-allure-reports
    image: allure-reports
    ports:
      - "4040:4040"
    volumes:
      - "C:/jenkins/data/allure-share/ecommerce-web-automation:/app/allure-results"
    restart: always
    networks:
      - selenium-grid

networks:
  selenium-grid:
    external: true
