version: '3.8'

services:
  selenium-hub:
    image: selenium/hub:4.8.0
    container_name: selenium-hub
    ports:
      - "4444:4444"
    networks:
      - selenium-grid
    restart: unless-stopped

  chrome-node:
    image: selenium/node-chrome:4.8.0
    container_name: chrome-node
    shm_size: "2g"
    depends_on: [selenium-hub]
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    ports:
      - "5555:5555"
      - "5900:5900"
    networks:
      - selenium-grid
    restart: unless-stopped

  firefox-node:
    image: selenium/node-firefox:4.8.0
    container_name: firefox-node
    shm_size: "2g"
    depends_on: [selenium-hub]
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    ports:
      - "5556:5555"
      - "5901:5901"
    networks:
      - selenium-grid
    restart: unless-stopped

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    # PUERTO 8080 expuesto (mantener)
    ports:
      - "8080:8080"
      - "50000:50000"
    # Mapea el share de Allure para que Jenkins pueda copiar ahí los JSON
    volumes:
      - "C:/jenkins/data:/var/jenkins_home"
      - "C:/jenkins/data/allure-share/ecommerce-web-automation:/var/jenkins_home/allure-share/ecommerce-web-automation"
    networks:
      - selenium-grid
    restart: unless-stopped

  jdk-maven:
    build:
      context: .
      dockerfile: Dockerfile-jdk-maven
    image: jdk-maven
    container_name: jdk-maven
    # Monta el MISMO share de host para copiar los JSON DIRECTO desde el agent
    volumes:
      - "C:/jenkins/data/allure-share/ecommerce-web-automation:/allure-share"
    networks:
      - selenium-grid
    restart: unless-stopped

    command: >
      sh -c "while true; do mvn clean test; echo 'Ejecución finalizada, esperando 60s antes de reiniciar...'; sleep 60; done"

networks:
  selenium-grid:
    external: true
